<div id="<%= dom_id building %>">
  <p>
    <strong>Name:</strong>
    <%= building.name %>
  </p>

  <p>
    <strong>Adress:</strong>
    <%= building.adress %>
  </p>

  <p>
    <strong>Commune:</strong>
    <%= building.commune_id %>
  </p>

</div>
